header{
    background: url("imagens/bg.jpg");
    padding: 20px 0px;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline ;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    color: white;
}

nav a:hover {
    color: darkblue;
    text-decoration: underline;
} 

footer {
    text-align: center;
    background: url("imagens/bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: white; 
    font-size: 15px;   
    margin: 20px 0;
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

legend {
    padding: 20px 0 10px 0 ;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px ;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 5px 10px;
    width: 50%;
}

p {
    font-size: 20px;
    padding: 10px 0 5px 0;
}

select {
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
    margin: 10px 0 10px auto ;
}

.check {
    margin: 10px 0 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background-color: rgb(69, 69, 202);
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 25px;
    transition: 500ms all;
    cursor: pointer;
}

.enviar:hover {
    background-color: darkblue;
    transform: scale(1.1);
}

table {
    margin: 20px 0 40px;
}

thead {
    background-color: gray;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid black;
    font-size: 18px;
    padding: 8px 15px;
    text-align: center;
}
