header {
    background: url("imagens/bg.jpg");
    padding: 20px 0px;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 50px;
    right: 0;
}

nav li {
    display: inline ;
    margin: 0 0 0 15px;
}

nav a:hover {
    color: darkblue;
    text-decoration: underline;

} 


nav a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    color: white;
}

#banner {
    text-align: center;
    width: 100%;
}

.titulo-principal {
    padding-left: 20px;
}

.principal  {
    background: #cccccc;
    padding: 20px 0px 30px 0px;
}

p {
    text-align: center;
    padding: 6px;
}

#missao {
    font-size: 20px
}

em b{
    color: red;
}

.titulo-centralizado {
    font-size: 30px;
    padding: 10px 0;
    text-align: center;
}

h3.titulo-centralizado {
    border: 2px solid black;
    border-radius: 10px;
    margin: 30px 40%;
}

.itens {
    font-style: italic;
}

ul {
    display: inline-block;
    vertical-align: top;
    font-size: 30px;
    padding: 10px;
    width: 20%;
    margin: 10% 10%;
}

.beneficios {
    background: #ffffff;
    padding: 20px;
}

.imagemBeneficios {
    width: 50%;
}

footer {
    background: url("imagens/bg.jpg");
    text-align: center;
    padding: 40px 0;
}

.copyright {
    color: #ffffff;
    font-size: 15px;
    margin: 20px 0;
}
