header {
    background: url("imagens/bg.jpg");
    padding: 20px 0px;
}
/* Problema aqui na ordem */
.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}
/* Problema aqui na ordem FIM*/

nav li {
    display: inline ;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    color: white;
}

nav a:hover {
    color: darkblue;
    text-decoration: underline;
} 

.banner {
    text-align: center;
    width: 100%;
}

main {
    width: 940px;
    margin: 0 auto;
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em 0;
    clear: left;
}

.principal  {
    text-align: center;
    padding: 20px 0px 30px 0px;
}

.principal p {
    margin: 0 0 1em;
}

.missao {
    font-size: 20px
}

.principal b{
    font-weight: bold;
    color: red;
}

.principal em {
    font-style: italic;
}

.utensilios {
    width: 120px;
    float: left;
    margin: 0 20px 20px 10px;
}

.itens {
    font-style: italic;
}

.itens ul {
    display: inline-block;
    vertical-align: top;
    font-size: 30px;
    padding: 10px;
    width: 20%;
    margin: 10% 10%;
}

.beneficios {
    background: #ffffff;
    padding: 20px;
}

.imagemBeneficios {
    width: 50%;
}

footer {
    background: url("imagens/bg.jpg");
    text-align: center;
    padding: 25px 0;
}

.copyright {
    color: #ffffff;
    font-size: 15px;
    margin: 20px 0;
}
