
#banner {
    width: 100%;
}

.titulo-principal {
    padding-left: 20px;
}

.principal  {
    background: #cccccc;
    padding: 30px;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px
}

em b{
    color: red;
}

.titulo-centralizado {
    text-align: center;
}

.itens {
    font-style: italic;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.beneficios {
    background: #ffffff;
    padding: 20px;
}

.imagemBeneficios {
    width: 50%;
    vertical-align: middle;
}