header{
    background: url("imagens/bg.jpg");
    padding: 20px 0px;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline ;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    color: white;
}

nav a:hover {
    color: darkblue;
    text-decoration: underline;

} 

.produtos {
    width: 940px;
    margin: 0px auto;
    padding: 50px;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 20px;
}

.produtos li:hover {
    border-color: darkblue;
}

.produtos li:active {
    border-color: green;

}

.produtos li:hover h2{
   font-size: 30px;
}

.produtos h2 {
    font-size: 25px;
    font-weight: bold;
}

.produto-descricao {
    text-align: center;
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url("imagens/bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: white; 
    font-size: 15px;   
    margin: 20px 0;
}